body {
  min-width: 996px;

}

.gallery {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
}

div {
  position: relative;
  background-size: cover;
}

section.two {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 100vh;
}

div.one {
  height: 100vh;
  width: 100vh;
}


div.two {
  height: 50vh;
  width: 50vh;
}

div.two h2 {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  margin-top: 5vh;
  font-weight: bold;
  font-size: 6vh;
  line-height: 7vh;
}
div.two p {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-size: 2vh;
  line-height: 4vh;
  margin-top: 2vh;
}

div.two figure {
  background-color: red;
  margin: 0 auto;
  width: 9vh;
  height: 1vh;
  margin-top: 8px;
  text-align: center;

}
div.two.sc h2 {
  margin-top: 15vh;
}

#pic1 {
  background-image:url(../imgs/1b.jpg);
}

#pic2 {
  background-image:url(../imgs/smoke.jpg);
}

#pic3{
  background-color: white;
}

#pic4{
  background-image:url(../imgs/big.jpg);
}

#pic5 {
  background-image:url(../imgs/br.jpg);
}

#pic6{
  background-color: white;
}

#pic7 {
  background-image:url(../imgs/hugs.jpg);
}

#pic8 {
  background-color: white;
}

#pic9{
  background-image:url(../imgs/guitat.jpg)
}
