.galleryNav {
  opacity: .1;
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100vw;
  top: 44vh;
}


.galleryNav:hover {
  opacity: 1;
}

.galleryNav div {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 20px;
  z-index: 1;
}

.prev,
.next {
  color: red;
  font-size: 8vh;
}
